<div class="container my-3">
  <ul class="mx-auto list-group list-unstyled">
    <li><h1><%= @list.name %></h1></li>
  </ul>

  <div class="card-product">
    <ul class="mx-auto list-group list-unstyled">
      <% @list.bookmarks.each do |bookmark| %>
        <li> <%= image_tag (bookmark.movie.poster_url), height: 300%></li>
        <div class="card-product-infos">
          <li><h3><%= bookmark.movie.title %></h3>
          <p><%= bookmark.movie.rating %>/10</p></li>
          <li><p><%= bookmark.movie.overview %></p></li>
          <li class="list-group-item"><%= bookmark.comment %></li>
        </div>
      <% end %>
    </ul>
  </div>

  <%= link_to "Add a bookmark", new_list_bookmark_path(@list), class: "btn btn-success my-3" %>
  <br>
  <%= link_to "Go back to see all lists", lists_path %>
</div>
